.env

/node_modules

/shop-frontend/node_modules

/shop-frontend/.next

/shop-frontend/.env

/shop-frontend/.env.local

/shop-frontend/.env.development.local

/shop-frontend/.env.test.local

/shop-frontend/.env.production.local

/api-gateway/node_modules

/api-gateway/.env

/api-gateway/.env.local

/api-gateway/.env.development.local

/api-gateway/.env.test.local

/api-gateway/.env.production.local

/cart-service/node_modules

/cart-service/.env

/cart-service/.env.local

/cart-service/.env.development.local


